
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="~/Content/app.css" rel="stylesheet" />
    
</head>
<body>
<header class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">LearnDev</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#courses">Courses</a></li>
                    <li><a href="#articles">Articles</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
<section class="container-fluid content">
    <div class="row">
        <section class="col-sm-6 col-sm-push-3 col-md-7 col-md-push-3 main">
            <div class="main-container" style="background-image: url('@Url.Content("~/images/main-background.jpg")')">
                <a name="courses" class="anchor"></a>
                <h2>My Courses</h2>
                <div id="myCourses"></div>               
                <a name="articles" class="anchor"></a>
                <h2>My Articles</h2>
                <div class="row record">
                    <div class="record-detail">
                        <div class="record-title">
                            <a href="#">Front-End Web Development Quick Start With HTML5, CSS, and JavaScript</a>
                        </div>
                        <div class="record-description">
                            I haven't finished this one, but so far it seems interesting. It's nice having a primer on HTML5 and CSS3.
                        </div>
                    </div>
                    <div class="record-rating">
                        4.0
                    </div>
                </div>
                <div class="row record">
                    <div class="record-detail">
                        <div class="record-title">
                            <a href="#">Front-End Web Development Quick Start With HTML5, CSS, and JavaScript</a>
                        </div>
                        <div class="record-description">
                            I haven't finished this one, but so far it seems interesting. It's nice having a primer on HTML5 and CSS3.
                        </div>
                    </div>
                    <div class="record-rating">
                        4.0
                    </div>
                </div>
                <div class="row record">
                    <div class="record-detail">
                        <div class="record-title">
                            <a href="#">Front-End Web Development Quick Start With HTML5, CSS, and JavaScript</a>
                        </div>
                        <div class="record-description">
                            I haven't finished this one, but so far it seems interesting. It's nice having a primer on HTML5 and CSS3.
                        </div>
                    </div>
                    <div class="record-rating">
                        4.0
                    </div>
                </div>
                <div class="row record">
                    <div class="record-detail">
                        <div class="record-title">
                            <a href="#">Front-End Web Development Quick Start With HTML5, CSS, and JavaScript</a>
                        </div>
                        <div class="record-description">
                            I haven't finished this one, but so far it seems interesting. It's nice having a primer on HTML5 and CSS3.
                        </div>
                    </div>
                    <div class="record-rating">
                        4.0
                    </div>
                </div>
                <div class="row record">
                    <div class="record-detail">
                        <div class="record-title">
                            <a href="#">Front-End Web Development Quick Start With HTML5, CSS, and JavaScript</a>
                        </div>
                        <div class="record-description">
                            I haven't finished this one, but so far it seems interesting. It's nice having a primer on HTML5 and CSS3.
                        </div>
                    </div>
                    <div class="record-rating">
                        4.0
                    </div>
                </div>
                <div class="row record">
                    <div class="record-detail">
                        <div class="record-title">
                            <a href="#">Front-End Web Development Quick Start With HTML5, CSS, and JavaScript</a>
                        </div>
                        <div class="record-description">
                            I haven't finished this one, but so far it seems interesting. It's nice having a primer on HTML5 and CSS3.
                        </div>
                    </div>
                    <div class="record-rating">
                        4.0
                    </div>
                </div>
            </div>
        </section>
        <aside class="col-sm-3 col-sm-pull-6 col-md-pull-7">
            <div class="profile">
                <div class="profile-background" style="background-image:url('@Url.Content("~/images/profile-background.jpg")')">
                </div>
                <div class="img-circle profile-initials">
                    <h2>AB</h2>
                </div>
                <div class="profile-name">
                    Aman Beg
                </div>
                <div class="profile-description">lorem ipsum....</div>
                <div>
                    <label>Courses</label>
                    <p class="form-control-static">14</p>
                    <input type="text" value="14" class="form-control hidden" />
                </div>
                <div>
                    <label>Articles</label>
                    <p class="form-control-static">10</p>
                    <input type="text" value="10" class="form-control hidden"/>
                </div>
                <div class="profile-buttons row">
                    <div class="col-md-6 col-md-push-6">
                        <button class="btn btn-primary btn-block">Edit</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-primary btn-block hidden">Save</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-danger btn-block hidden">Cancel</button>
                    </div>
                </div>
            </div>
        </aside>
        <aside class="col-sm-3 col-md-2 friends">
            <h2>FRIENDS</h2>
            <div id="friendsNode"></div>
        </aside>
    </div>
</section>
<footer class="container-fluid">
    footer
</footer>
    <script src="~/scripts/jquery-1.9.1.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
    <script src="https://fb.me/react-0.14.7.js"></script>
    <script src="https://fb.me/react-dom-0.14.7.js"></script>
<script src="~/scripts/app/friends.js"></script>
    <script src="~/scripts/app/items.js"></script>
</body>
</html>
